/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
    height: 100%
}

.homeBgimg {
    /* Background image */
    background-image: url("../images/background.jpg");
    /* Full-screen */
    opacity: 0.7;
    height: 100%;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .homeBgimg container */
    color: white;
    /* Add a font */
    font-family: "Courier New", Courier, monospace;
    /* Set the font-size to 25 pixels */
    font-size: 25px;
}

/* Position text in the top-left corner */
.homeTopleft {
    position: absolute;
    top: 0;
    left: 16px;
}

/* Position text in the bottom-left corner */
.homeBottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
}

/* Position text in the middle */
.homeMiddle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
*/}

p#worldCupTime {
    background: grey;
    opacity: .8;
    padding: 5px;
}
/* Style the <hr> element */
hr {
    margin: auto;
    width: 40%;
}